NODE_ENV=development
PORT=3000

POSTGRES_DB=smart_restaurant
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_PORT=5432

DATABASE_URL=postgresql://admin:admin@localhost:5432/smart_restaurant

PGADMIN_EMAIL=admin@localhost.local
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050
